
<nav class="navbar navbar-light navbar-static-top bg-faded">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">Cloner</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">*** <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Развитие</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Цены</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Сервис</a>
        </li>
    </ul>
    <form class="form-inline pull-xs-right">
        <input class="form-control" type="text" placeholder="Имя">
        <input class="form-control" type="password" placeholder="Пароль">
        <button class="btn btn-outline-success" type="submit">Войти</button>
    </form>

</nav>