
<div class="panel-default">
    <div class="panel-heading">
        <h1> HEADING PANEL </h1>
        
    </div>
    <div class="panel-title">
        <!-- TITLE PANEL -->
        
    </div>
    <div class="panel-body">
        <!-- BODY PANEL -->
        
    </div>
</div>
